body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 50px;
}

.produtos {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px auto;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.produtos img {
    width: 300px;
    height: auto;
}

.card-content {
    padding: 10px;
}

.card-title h2 {
    margin: 0;
}

.card-title p {
    margin: 10px 0;
    color: #555;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}